<a href="https://colab.research.google.com/github/NatashaKamami/variables/blob/main/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, Zindua")

Hello, Zindua

variables

In [3]:
first_name = "Jane"
last_name = "Smith"
full_name = first_name + " " + last_name

print(full_name)

statement = f"{first_name} and I were in the shop yesterday"
print(statement)

Jane Smith
Jane and I were in the shop yesterday

Strings

In [13]:
#Concatenation
full_name = "John Doe"
age = "30"
school = "Zindua"
message = full_name + " is " + age + " years old and he is studying at " + school + " school."
message2 = f"{full_name} is {age} years old and he is studying at {school} school."

print(message)
print(message2)

John Doe is 30 years old and he is studying at Zindua school.
John Doe is 30 years old and he is studying at Zindua school.

Integers and floating point numbers(floats)

In [28]:
import math
#Integers
a = 42
b = -100
c = 0
d = 67589409272748

#Floats
x = 3.14
y = -0.01
z = 1.23e4 #(12300)

print(abs(b)) #absolute value
print(round(x, 1)) #rounding off to 1 dp
print(math.ceil(x)) #ceiling- rounds off to the next greater number from the decimal
print(math.floor(y)) #floor - rounds off to the next lower number by dropping the decimal
print(pow(2, 3, 5)) #power i.e base, exponential, modulus
print(pow(2, 3)) #power i.e base and  exponential
print(math.pow(2, 3))
print(math.sqrt(16)) #square root

100
3.1
4
-1
3
8
8.0
4.0

Type conversion

In [35]:
"""num1 = 3
num2 = float(num1) #converting into a float
print(num1)
print(num2)
print(type(num1))
print(type(num2)) """

num1 = '3'
num2 = 2
sum = int(num1) + num2
print(sum)

5

Input

In [38]:
num1 = int(input("Ënter a number:"))
num2 = int(input("Enter another number:"))
sum = num1 + num2
print(sum)

Ënter a number:3
Enter another number:5
8

Python operators
Types: 1. Arithmetic operators
       2. Assignment operators
       3. Comparison operators
       4. Logical operators
       5. Bitwise operators
       6. Special operators

In [43]:
#Arithmetic operators
add = 4 + 5
sub = 6 - 2
mult = 4 * 5
div = 10 / 2
rem = 10 % 3
floor_div = 10 // 3
power = 2 ** 3

print(add)
print(sub)
print(mult)
print(div)
print(rem)
print(floor_div)
print(power)

9
4
20
5.0
1
3
8

In [50]:
#Assignment operators
a = 5
a += 1 #addition assignment- adds 1 to the initial assignment of a i.e an increament of 1 to a; a= a+1
print(a)

a -= 3 #subtraction assignment- decreament of 3 using the new a which is 6
print(a)

a *= 3 #multiplication assignment
print(a)

a /= 3 #division assignment
print(a)

a **= 2 #exponential assignment
print(a)

a %= 5 #remainder assignment
print(a)

6
3
9
3.0
9.0
4.0

In [53]:
#Comparison operators
a = 7
b = 4

print(a > b) #greater than
print(a < b) #less than
print(a == b) #equal to/same as
print(a != b) #not equal to/same as
print(a >= b) #greater than or equal to
print(a <= b ) #less than or equal to

True
False
False
True
True
False

In [59]:
#Logical operators
a = 7
b = 9

print((a > 5) and (b > 9)) # and operator- for it to read true both statements must be true if one or both are false then it reads false
print((a > 5) and (b >= 9))

print((a > 5) or (b > 9)) #or operator- for it to read true either one or both statements must be true and for it to be false both statements have to be false
print((a < 5) or (b < 9))

False
True
True
False